


/*Définition de la police et des marges pour la page*/

body
{
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    box-sizing: content-box;
}



/*PARAMETRES DU HEADER*/

/*Titre h2 en gras*/

h2
{
    font-weight: 700;
}


/*Définition du bloc logo + liens en tant que flexbox + marges*/


#bloc_logo_liens
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 4%;
}


/*Définition des dimensions du bloc de navigation
Définition du bloc en tant que flexbox
espacement des éléments dans la flexbox
centrage des éléments*/

#liens
{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Liens du menu non soulignés*/

a
{
    text-decoration: none;
    color: black;
}

/*Surlignement des liens au survol*/
header a:hover
{
    color: #0065FC;
    text-decoration: overline;
}

/*FIN DES PARAMETRES DU HEADER*/


/*PARAMETRES DU BLOC DE RECHERCHE*/


/*Formulaire de recherche*/
form
{
    display: flex;
    flex-direction: row;
}

/*loupe en remplacement du bouton recherche
désactivée sur 992px*/
#loupe
{
    display: none;
}

/*lien du bouton d'envoi*/
#envoi
{
    font-weight: 700;
    color: white;
}

/*Bloc du bouton d'envoi*/
#recherche_button
{
    background-color: #0065fc;
    padding: 1%;
    border-radius: 0 15px 15px 0;
}

/*Couleur de fond autour de l'icone de localisation
arrondissement des bordures*/

#bloc_couleur
{
    padding: 1%;
    border-radius: 9px 0 0 9px;
    background-color: #f2f2f2;
}

/*Positionnement de l'icone de localisation*/
#recherche div i
{
    position: absolute;
    left: 1%;
    top: 1%;
}

/*arrondissement de la bordure du côté droit
définition de la couleur de fond
définition de la couleur de police
hauteur du champ*/

#champ
{
    font-weight: 700;
    font-size: 1.2em;
    border:  none;
    padding: 1%;
}
/*Fin du formulaire de recherche*/



/*BLOC FILTRES*/
/*Définition en tant que flexbox
alignement horizontal
centrage des éléments
dimension de la boîte
espacement horizontal des éléments
mise en gras de la police*/

#filtres
{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    /*min-width: 80%;*/
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
}


/*Classes de filtres
définition en tant que flexbox
espacement horizontal
bordure + arrondi boudure
définition des marges intérieures*/

.filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid grey;
    border-radius: 27px;
    margin-left: 2%;
}

.filters span
{
    padding-right: 3%;
    padding-left: 3%;
}

#filters
{
    display: flex;
    flex-direction: row;
    min-width: 80%;
}

/*Coloration en bleu au passage de la souris*/
.filtre:hover
{
    background-color: #0065EF;
}

/*icones des filtres
définition de la couleur de fond
arrondi de la bordure
marges intérieures*/

.icone
{
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 25px;
    padding: 20px;
    margin-left: -2px;
    height: 13px;
}

/*filtre animaux
longueur du bloc*/

#animaux
{
    width: 130px;
}

/*Catégories des filtres
marges internes*/

figcaption
{
    padding-left: 1%;
    padding-right: 10px;
    font-size: 0.9em;
}
/*FIN DU BLOC FILTRES*/


/*BLOC D'INFORMATIONS*/
/*définition en tant que flexbox
centrage vertical des éléments
dimension
espacement horizontal*/

#bloc_info
{
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    /*width: 35%;*/
    justify-content: flex-start;
}

/*icone informations
définition en tant que flexbox
centrage horizontal
définition de la bordure
arrondi de la bordure
dimension*/

#info
{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    width: 2%;
    height: 100%;
    border-radius: 45%;
    color: #0065fc;
}

#infos
{
    display: flex;
    padding-left: 3%;
}
/*FIN DU BLOC D'INFORMATIONS*/


/*SECTION HEBERGEMENT - LES PLUS POPULAIRES*/
/*définition en tant que flexbox
positionnement relatif des blocs
*/

/*SECTION HEBERGEMENT*/

#hebergement
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/*Propriétés du bloc de cartes*/
#card_hebergement
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 64%;
    /*height: 850px;*/
    background-color: #f2f2f2;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
}

#titre_hebergement
{
    margin-left: 3%;
}

#cards
{
    display: flex;
    flex-wrap: wrap;

}

/*Coloration en bleu des liens au survol*/
#card_hebergement a:hover
{
    color: #0065FC;
}

/*Propriétés de chaque carte*/
.card
{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 50%;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: white;
    border-radius: 25px;
}

/*Dimensionnement des photos*/
.photo
{
    max-height: 175px;
}

#cards figure
{
    margin: 0;
    height: 200px;
}

/*Positionnement de l'image de chaque carte
centrage de la photo dans le cadre
arrondi des bordures*/
#card_hebergement img
{
    /*position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -5%);*/
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#card_hebergement i
{
    color: #0065fc;
}

/*Alignement du texte sous les photos*/
.card_body
{
    text-align: left;
    padding: 0px 20px;
    box-sizing: border-box;
}

/*Bouton afficher plus*/
#afficher
{
    position: relative;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 5%;
    padding-top: 2%;
    padding-left: 3%;
}

#afficher a:hover
{
    text-decoration: none;
}

/*FIN DE LA SECTION HEBERGEMENT*/

/*SECTION LES PLUS POPULAIRES*/

/*Propiriétés du bloc*/
#card_populaires
{
    width: 32%;
    margin-left: 1%;
    /*height: 850px;*/
    background-color: #f2f2f2;
    border-radius: 25px;
}

/*Propriétés du bloc sous-titre + icone
définition en tant que flexbox
centrage 
espacement des items*/
#titre_icone_pop
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Proptiétés de chaque carte
définition en tant que flexbox
alignement horizontal
définition de la couleur de fond
hauteur et largeur des cartes*/
.card1
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    height: 25%;
    width: 100%;
    margin-left: 5%;
}

.photo_populaires
{
    width: 40%;
}

/*arrondi des coins de chaque photo*/
.photo_pop
{
    display: flex;
    border-radius: 25px 0 0 25px;
    margin-left: 5%;
    width: 40%;
}

/*Positionnement des photos
centrage de la photo
dimensions de la photo*/
#card_populaires img
{
    /*position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-48%, -12%);*/
    width: 150px;
    height: 90%;
}

/*Positionnement du texte à côté des photos*/
.nom_prix
{
    width: 60%;
}

/*coloration en bleu des icones*/
.nom_prix i
{
    color: #0065FC;
}

/*SECTION ACTIVITES*/

/*section activites
definition de la section en tant que flexbox
orientation en colonne
définition des marges*/
#activites
{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

#activites h3
{
    margin-left: 2%;
}

/*bloc activites
définition du bloc en tant que flexbox
orientation en ligne*/
#bloc_activites
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*blocs de la section
définition de la largeur des blocs*/
/*définition de la marge de séparation*/
#vieux_port, #pomegues-frioul, #calanques, #nd-longchamp
{
    width: 23%;
    height: 500px;
    margin-left: 1%;
    margin-right: 1%;
}

#vieux_port img, #calanques img
{
    height: 437.5px;
    object-fit: cover;
}

#pomegues
{
    height: 192px;
}

#pomegues img
{
    height: 129.5px;
    object-fit: cover;
}

#frioul
{
    height: 288px;
    padding-top: 20px;
}

#frioul img
{
    height: 225.5px;
    object-fit: cover;
}


/*blocs des activités
arrondi des bordures
ombrage de la bordure*/
#vieux_port, #pomegues, #frioul, #calanques, #notre-dame, #longchamp
{
    border-radius: 25px;
    box-shadow: 0 5px 5px grey;
}


/*photos du bloc activités
largeur des photos
arrondi des bordures hautes*/
#bloc_activites img
{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

/*textes des blocs activités
définition de l'épaisseur de la police*/
#bloc_activites p
{
    font-weight: 700;
}

#notre-dame, #longchamp
{
    height: 240px;
}

#notre-dame img, #longchamp img
{
    height: 177.5px;
    object-fit: cover;
}

#longchamp
{
    margin-top: 20px;
}

.nom_activite
{
    display: flex;
    align-items: flex-start;
    height: 62.5px;
    padding-left: 5%;
    /*padding-top: -50px;*/
}

/*blocs de photos doubles
orientation en colonne*/
#pomegues-frioul, #nd-longchamp
{
    display: flex;
    flex-direction: column;
}

/*fin de la section activités*/

/*FOOTER*/

/*footer
définition en tant que flexbox*/
footer
{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #f2f2f2;
}

.footer_liens
{
    padding-top: 20px;
}



/*MEDIA QUERIES*/

/*Pour les ordinateurs portables*/

@media screen and (max-width: 992px)
{

}


/*Pour les tablettes*/
@media screen and (max-width: 768px)
{
    header nav a
    {
        margin-left: 5%;
        font-size: 0.8em;
    }

    header a:hover
    {
       

        text-decoration: underline;
        color: #0065fc;
    }
}


/*Pour les téléphones*/
@media screen and (max-width: 480px)
{
    header nav a
    {
        margin-left: 8%;
        font-size: 0.8em;
    }

    header nav a:hover
    {          
        text-decoration: underline;
        color: #0065fc;
    }

    #recherche_button
    {
        width: 30px;
        border-radius: 30%;
    }

    #envoi
    {
        display: none;
    }

    #loupe
    {
        display: flex;
        background-color: #0065fc;
        padding: 2%;
        border-radius: 0 15px 15px 0;
        color: white;
        padding-left: 15%;
        padding-top: 12%;
    }

    #filtres
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        margin-left: -5%;
    }

    #filters
    {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -15%;
    }

    .filtre
    {
        width: 20%;
        margin-left: 10%;
    }

    /*Coloration en bleu au passage de la souris*/
    .filtre:hover
    {
        background-color: #0065EF;
    }

    .animaux
    {
        min-width: 100%;
    }

    #bloc_info
    {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: -5%;
    }

    #info
    {
        color: #0065fc;
        width: 8%;
    }

    #infos
    {
        display: flex;
        /*overflow-wrap: word-break ;*/
        flex-wrap: wrap;
    }

    #hebergement
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    #card_hebergement
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 90%;
        position: relative;
        margin-top: 5%;
        margin-left: -1%;
        background-color: transparent;
    }

    .card
    {
        width: 90%;
        margin-left: 5%;
    }

    .photo
    {
        width: 90%;
    }

    #card_body
    {
        padding-top: -1%;
    }

    #card_populaires
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        position: relative;
        margin-top: 15%;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .card1
    {
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    .photo_pop
    {
        position: relative;
        top: 15%;
        left: 10%;
        width: 100%;
        height: 50%;
        border-radius: 25px 25px 0 0;
        margin-left: -3%;
        margin-top: 10%;
    }

    .nom_prix
    {
        position: relative;
        margin-top: -1%;
        width: 90%;
        margin-left: -8%;
    }

    #activites
    {
        width: 100%;
    }

    #bloc_activites
    {
        display: flex;
        flex-direction: column;
    }

    #vieux_port, #pomegues-frioul, #calanques, #nd-longchamp
    {
        width: 90%;
    }

    #activites img
    {
        width: 100%;
        height: 50%;
    }
}

